<div class="m-3">
    <h3 [className]="zmienKolor">Wprowadzenie do Angulara</h3>
    <div>
        <input class="d-inline-flex form-control" [disabled]="isDisabled" (focus)="onFocus()">
    </div>
    <div>
        <input class="d-inline-flex form-control" [disabled]="isDisabled" (click)="onClick($event)">
    </div>
    <div>
        <input class="d-inline-flex form-control" [disabled]="isDisabled" (mousemove)="onMouseMove($event)">
    </div>
    <!-- <div class="d-inline-flex"> -->
    <input class="d-inline-flex form-control" [disabled]="isDisabled" (paste)="onPaste()">
    <span>{{ inputText }}</span>
    <!-- </div> -->
    <div>
        <button (click)="zmienUstawienia()">edytuj</button>
        <button [className]="changeButtonColor" (click)="onClick($event)" style="width: 220px;">Change the
            background</button>
    </div>
    <div>
        <br>
        <p>Kliknij w pole tekstowe poniej a kolor buttona wróci do początkowej wersji.</p>
        <input class="form-control" (focus)="zmienKolorButona()">
    </div>
    <div>
        <br>
        <p>Wpisz coś do tego pola tekstowego i wciśnij przycisk lub Enter</p>
        <input class="d-inline-flex form-control" #box (keyup.enter)="update(box.value)" (blur)="update(box.value)">
        <button (click)="update(box.value)">Wypisz zawartość pola</button>
        <br>
        <p>To co wpiszesz, pojawi się tu: <b>{{ inputText3 }}</b></p>
    </div>
</div>